```text
main.py
Start Kuah Merapi Bot.bat
cookies.txt
Ollama38.py
.env
bin/
bin/ffmpeg
__pycache__/
__pycache__/Greeting.cpython-314.pyc
__pycache__/Music.cpython-314.pyc
__pycache__/Ollama38.cpython-314.pyc
__pycache__/Random.cpython-314.pyc
```
